
.nav-bg {
  /* background-color: rgb(27, 38, 44, 0.3); */
  background-color: rgb(0, 0, 0, 0.2);

}
.nightsky-top {
  background-color: #1b262c;
}

.nightsky-mid1 {
  background-color: #0f4c75;
}

.nightsky-mid2 {
  background-color: #3282b8;
}

.nightsky-bottom {
  background-color: #bbe1fa;
}

.purple-top {
  background-color: #363062;
}

.purple1 {
  background-color: #424874;
}

.purple-mid1 {
  background-color: #4d4c7d;
}

.purple-mid2 {
  background-color: #827397;
}

.purple-bottom {
  background-color: #d8b9c3;
}

.navy1 {
  /* background-color: #17223b; */
  background-color: rgb(23, 34, 57);
}

.navy2 {
  background-color: #0b032d;
}

.sunset-top {
  background-color: #35477d;
}

.sunset-mid1 {
  background-color: #6c5b7b;
}

.sunset-mid2 {
  background-color: #c06c84;
}

.sunset-bottom {
  background-color: #f67280;
}
.sunset-bottom2 {
  background-color: #ffb396;
}
.sunset-bottom3 {
  background-color: #ff8e71;
}
.sunset-bottom4 {
  background-color: #ff9a8c;
}

/* 전체가 805px정도 */
.main-box {
  height: 700px;
}
/* @media (min-width: 768px){
  .main-box {
    height: 700px;
  }
} */

.profile-box1 {
  height: 90px;
}
.profile-box2 {
  height: 580px;
}
.profile-box3 {
  height: 45px;
}

.activity-box1 {
  height: 30px;
}
.activity-box {
  height: 380px;
}
.end-box {
  height: 250px;
}

/* favorite */
.favorite-box {
  height: 610px;
}
@media (min-width: 768px) {
  .favorite-box {
    height: 380px;
  }
}

.nav-width {
  width: 10rem;
}

/* main decoration */
.main-head {
  /* position: absolute;
  top: 30vh;
  left: 32vw; */
  font-family: 'Lobster', cursive;
}

.head {
  font-size: 2.5rem;
}

/* title */
@media (min-width: 576px) and (max-width: 768px) {
  .head {
    font-size: 2.8rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .head {
    font-size: 3.5rem;
  }
}
@media (min-width: 992px) and (max-width: 1300px) {
  .head {
    font-size: 4rem;
  }
}
@media (min-width: 1300px){
  .head {
    font-size: 5rem;
  }
}
/* main content */
.head1 {
  font-size: 1rem;
}
@media (min-width: 576px) and (max-width: 768px) {
  .head1 {
    font-size: 1.1rem;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .head1 {
    font-size: 1.3rem;
  }
}
@media (min-width: 992px) and (max-width: 1300px) {
  .head1 {
    font-size: 1.4rem;
  }
}
@media (min-width: 1300px){
  .head1 {
    font-size: 1.5rem;
  }
}

/* profile content */
.head2 {
  font-size: 1.1rem;
}

@media (min-width: 992px) and (max-width: 1300px) {
  .head2 {
    font-size: 1.3rem;
  }
}
@media (min-width: 1300px){
  .head2 {
    font-size: 1.4rem;
  }
}

/* 이모지 */
.image-size {
  height: 250px;
}
@media (min-width: 576px) and (max-width: 768px) {
  .image-size {
    height: 270px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .image-size {
    height: 300px;
  }
}
@media (min-width: 992px) and (max-width: 1300px) {
  .image-size {
    height: 300px;
  }
}
@media (min-width: 1300px){
  .image-size {
    height: 400px;
  }
}

.main-font {
  font-family: 'Kalam', cursive;
}

.font-ko {
  font-family: 'Gaegu', cursive;
}

/* @media (max-width: 992px) {
  .main-head {

  }
} */

.city {
  position: absolute;
  left: 20px;
  bottom: 0px;
}


/* city */
.city1 {
  display: none;
}
@media (min-width: 600px){
  .city1 {
    display: inline-block;
  }
}
.city2 {
  display: none;
}
@media (min-width: 700px) {
  .city2 {
    display: inline-block;
  }
}
.city3 {
  display: none;
}
@media (min-width: 800px) {
  .city3 {
    display: inline-block;
  }
}
.city4 {
  display: none;
}
@media (min-width: 992px) {
  .city4 {
    display: inline-block;
  }
}
.city5 {
  display: none;
}
@media (min-width: 1200px) {
  .city5 {
    display: inline-block;
  }
}
.city6 {
  display: none;
}
@media (min-width: 1400px) {
  .city6 {
    display: inline-block;
  }
}
.city7 {
  display: none;
}
@media (min-width: 1500px) {
  .city7 {
    display: inline-block;
  }
}